@page "/"
@rendermode InteractiveServer

<PageTitle>Fiix Local WRP</PageTitle>

<div class="row">
    <div class="col-lg-4">  </div>
    <div class="col-lg-4 text-center">
        <div class="mb-4 mt-4">
            <img src="images/Fiix-RA-lockup.svg" class="img-fluid" alt="App Logo" style="max-width: 400px;" />
        </div>
        <h4><strong>Work Request Portal</strong></h4>
        @if (ShowUI)
        {
            <div class="mt-4">
                <EditForm OnValidSubmit="CheckUser" Model="NewUser" autocomplete="off">
                    <div class="mb-3 text-start">
                        <label for="usr" class="form-label">Name *</label>
                        <InputText type="text" class="form-control" id="usr" placeholder="Enter Name" @bind-Value="@NewUser.userName" />
                    </div>
                    <button class="btn btn-warning w-100" type="submit">Continue</button>
                </EditForm>
            </div>
        }
    </div>
</div>

@code {
    protected UserInput NewUser = new();
    protected bool ShowUI = false;

    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (first)
        {
            NewUser.userName = " ";
            ShowUI = true;
            StateHasChanged();
        } 
    }

    protected void CheckUser()
    {
        if (NewUser.userName != "")
        {
            var existingUser = _db.UserDetails.FirstOrDefault(x => x.Name.ToLower().Trim() == NewUser.userName.ToLower().Trim());
            if (existingUser == null)
            {
                _db.UserDetails.Add(new Data.UserDetail
                {
                    Name = NewUser.userName,
                    Language = "en"
                });

                _db.SaveChanges();
            }

            Navigation.NavigateTo("/Requests?userName=" + NewUser.userName);
        }
    }

    public class UserInput
    {
        public string userName { get; set; } = "";
    }
}